/* ======================== CONTAINER & POSITION */
.container {
    padding: 50px;
    display: flex;
}

.rightContainer {
    flex: 2;
}

.leftContainer {
    flex: 1;
}




/* ======================== RIGHT */
.imgContainer {
    width: 100px;
    height: 100px;
    position: relative;    
}

.table {
    width: 100%;
    border-spacing: 20px;
}

.name {
    font-weight: 700;
    color: var(--color-primary);
    font-size: 18px;
}

.total {
    font-weight: 600;
    font-size: 18px;
}




/* ======================== LEFT */
.wrapper {
    background: var(--color-bggray);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 300px;
    padding-top: 10px;
    padding: 50px;
    width: 90%;
}

.totalTextTitle {
    margin-left: 15px;
}

.button {
    height: 40px;
    color: var(--color-primary);
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}