html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Naskh Arabic', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #d1411e;
  --color-bghover: rgba(255, 183, 0, 0.261);
  --color-white: #ffffff;
  --color-text: rgb(145, 145, 145);
  --color-price: #666;
  --color-bggray: #222;
  --transition: all 0.5s ease-out;
  --color-golden-text: #b7903c;
}
